$min-width: 320;
$max-width: 1440;
$max-width-Container: 1170;
$container-padding:10;
$container-width:$max-width-Container + $container-padding * 2;
$header-color:#212832;
$main-title-color:#181E4B;
$title-color:#14183E;
$small-title-color:#1E1D4C;
$main-text-color:#5E6282;

%title-font-style{
    font-weight: 700;
    font-family: 'Volkhov', serif;
}
%title-text-style{
    @extend %title-font-style;
    font-size: size-rem(50);
    line-height: size-rem(64);
    color: $title-color;
    text-transform: capitalize;
    text-align: center;
}
%main-text-style{
    font-family: 'Poppins', sans-serif;
    color: $main-text-color;

}
%subtitle-text-style{
    text-align: center;
    font-size: size-rem(18);
    font-weight: 600;
    line-height: size-rem(27);
    color: $main-text-color;
}

$breakpoint-desktop:size-rem($container-width); /*>=992 Desktop, large screens*/
$breakpoint-laptop:size-rem(991.98);/*>=768 Small screens, laptop*/
$breakpoint-tablet:size-rem(767.98); /*>=480 Ipads, Tablets*/
$breakpoint-mobile:size-rem(479.98);/*<=480 mobile*/

