@import '_variables', 'functions';
.footer {
    &__container {
        @include main-container();
       display: flex;
       flex-shrink: 1;
       flex-direction: column;
       justify-content: space-around;
       min-height: size-rem(420) ;
     }
    &__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: size-rem(30);
        padding:size-rem(21) size-percent(51, $max-width-Container);
        @include tablet(){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__logo {
        display: flex;
        flex-direction: column;
        row-gap: size-rem(19);
        flex: 1 1 size-rem(207);
        max-width:size-rem(207);
        .logo-footer {
            font-size: size-rem(44);
            line-height: size-rem(66);
            color: $main-title-color;
        }
        .description {
            font-size: size-rem(13);
            line-height: size-rem(16);
        }
    }
    &__container-menu {
        display: flex;
        padding-top: size-rem(21);
        min-width:size-rem(350);
    }
      
    .footer-main-menu {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: size-rem(15);
        &__item {
            min-width: size-rem(115);
           
        }
    }
    .child-menu {
        &__title {
            font-weight: 700;
            font-size: size-rem(21);
            line-height: size-rem(26);
            color: #080809;
        }
        &__list {
            margin-top:  size-rem(34);
            font-size: size-rem(18);
            line-height: size-rem(22);
        }
        &__item {
            margin-top:  size-rem(12);
            transition: transform 0.3s;
            > .menu__link{
                color: $main-text-color;
            }
            &:hover{
                transform: scale(1.05);
                color: $main-title-color;
                font-weight: 600;
            }
        }
    }
    &__widgets {
        flex: 1 1 size-rem(214);
        display: flex;
        flex-direction: column;
        row-gap: size-rem(26);
        max-width:size-rem(214);
        padding-top: size-rem(21);
    }
    
    .networking {
        display: flex;
        column-gap: size-rem(25);
        &__item {
            width:size-rem(41);
            height:size-rem(41);
            border-radius: 50%;
            filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));   
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.2);
            }
        }
        .facebook-link{
            background:url('../images/footer/facebook.svg')no-repeat center, #FFFFFF ;
        }
        .instagram-link{
            background:url('../images/footer/instagram.svg')no-repeat center,
            conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 16.67%, #C68BF0 29.47%, #D164DA 42.71%, #C963E8 61.46%, #BFC2E8 71.88%, #FFC999 80.21%, #D0D8C9 87.50%, #BAD0F1 92.81%, #CED8CB 99.71%, rgba(255, 255, 255, 0) 360deg);
        }
        .twitter-link{
            background:url('../images/footer/twitter.svg')no-repeat center, #FFFFFF ;
        }

    }
    
    .apps {
        
        &__links{
            margin-top: size-rem(16);
            display: flex;
            column-gap: size-rem(7);  
        }
      
        &-text {
            font-size: size-rem(20);
            line-height: size-rem(25);
            letter-spacing: 0.5%;
        }
        &__item {
            min-width:size-rem(107);
            height: size-rem(35);
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.05);
            }
        }
        .google-play{
            background: url('../images/footer/googlePlay.png')no-repeat center/contain;
            
        }
        .app-store{
            background: url('../images/footer/appStore.png')no-repeat center/contain;
            
        }
        
    }
    &-copirait { 
        font-size: size-rem(14);
        line-height: size-rem(17);
        text-align: center;
        width: 100%;
    }

}












