@import 'variables', 'functions';

.header {
  font: 500 size-rem(17) / size-em(22) 'Google Sans', sans-serif;
  color: $header-color;
  width: 100%;
  min-height: size-rem(134);
  padding: size-rem(47) 0;
  @include mobile {
    padding: size-rem(25) 0;
  }

  &__container {
    @include main-container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: size-percent(5, $max-width-Container);
    @include laptop {
      flex-wrap: wrap;
      row-gap: size-rem(25);
    }
    @include mobile {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {
    width: size-rem(115);
    order: 1;
  }
  .logo {
    &__img {
      min-width: 100%;
    }
  }

  &__menu {
  }
  .menu {
    order: 2;
    flex: 1 1 auto;

    &__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: size-percent(62, $max-width-Container);
      @include laptop {
        justify-content: space-around;
      }
      @include mobile {
        /* top: size-rem(185);*/
        flex-direction: column;
        justify-content: center;
        row-gap: size-rem(10);
      }
    }
    &__item {
    }
    &__link {
      color: $header-color;
      &:hover {
        font-weight: 500;
        text-decoration: underline;
      }
    }
    @include laptop {
      order: 5;
      flex: 1 1 100%;
    }
  }

  &__auth {
    order: 3;
  }

  .auth {
    flex: 0 1 size-percent(278, $max-width-Container);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: size-vw(52, $max-width);

    &__item {
    }
    &__item-btn {
      flex: 0 0 size-em(102, 17);
      height: size-em(40, 17);
      border-radius: 5px;
      border: 1px solid $header-color;
      text-align: center;
      line-height: size-em(40, 17);
      &:hover {
        border: 3px solid $header-color;
      }
    }

    &__link {
      color: $header-color;
      &:hover {
        font-weight: 600;
      }
    }
    @include laptop {
      flex: 1 1 auto;
    }
    @include mobile {
      justify-content: center;
    }
  }

  &__language-selection {
    order: 4;
    flex: 0 1 size-percent(75, $max-width-Container);
    border: none;
    text-align: right;
    text-transform: uppercase;
    &:hover {
      font-weight: 600;
    }
  }
}
