@import '_variables', '_functions';
.main {
  width: 100%;
  flex: 1 1 auto;
  line-height: size-em(30);
  font-weight: 500;
  position: relative;
  top: size-rem(-20);

  .intro {
    &__container {
      @include main-container();
      min-height: size-rem(757);
      display: flex;
      align-items: center;
      background: url('../images/intro/traveller.svg') right no-repeat;
      position: relative;
      @media (max-width: size-rem(1200)) {
        background: transparent;
        justify-content: center;
      }
      @include laptop() {
        align-items: stretch;
        padding-top: size-rem(50);
        min-height: auto;
      }
    }
    .plane{
      width: 167px;
      height: 154px;
      position: absolute;
    
    }
    .plane_fixed{
      top: 103px;
      right: -20px;
      z-index: -2;

    }
    @keyframes fly {
      from{
        top: 50px;
        right: 600px;
      }
      to{
        top: -200px;
        left: 2000px;
      }
    }

    @keyframes fly-back {
      from{
        top: 800px;
        left: -500px;
      }
      to{
        top: 50px;
        right: 600px;
      }
    }

    .plane.plane_animated{
      top: 50px;
      left: 600px;
      z-index: 10;
      &:hover {
        animation-play-state: running;
        animation:fly 3s ease-in, 
        fly-back 1.5s 3s 1 ease-in;
      }
    }
    &__content {
      max-width: size-rem(547);
    }
    .content {
      display: flex;
      flex-direction: column;
      min-height: size-em(535);
      margin-left: size-em(10);

      &__subtitle {
        color: #df6951;
        text-transform: uppercase;
        font-weight: 700;
        font-size: size-em(20);
      }
      &__title {
        @extend %title-font-style;
        font-size: size-em(84);
        line-height: size-em(89, 84);
        letter-spacing: -0.04em;
        color: $main-title-color;
        margin: size-rem(24) 0 size-rem(30) 0;
      }
      &__text {
        max-width: size-rem(477);
      }
      &__actions {
      }
      .actions {
        margin-top: size-rem(34);

        &__list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: size-em(16);
          align-items: center;
          max-width: size-rem(379);
        }
        &__item {
        }
        &__item-play {
          font-size: size-rem(17);
          line-height: size-rem(26);
          min-width: size-rem(92);
          > .item-link {
            color: #686d77;
          }
        }
        &__item-play::before {
          content: '';
          display: inline-block;
          width: size-rem(52);
          height: size-rem(52);
          border-radius: 50%;
          vertical-align: middle;
          margin-right: size-rem(21);
          background: url('../images/intro/play_button.svg') center;
          background-position-y: -15px;
        }
        &__item-orange-btn {
          font: 500 size-rem(18) 'Google Sans', sans-serif;
          line-height: size-rem(23);
          min-width: size-rem(170);
          padding: size-rem(18) size-rem(26);
          background: #f1a501;
          color: #ffffff;
          box-shadow: 0px size-rem(20) size-rem(35) rgba(241, 165, 1, 0.15);
          border-radius: size-rem(10);
          > .item-link {
            color: #ffffff;
          }
        }
        @include mobile {
          &__list {
            justify-content: center;
          }
        }
      }

      @include laptop() {
        &__subtitle {
          font-size: size-rem(16);
        }
        &__title {
          font-size: size-em(42);
          line-height: size-em(45, 42);
        }
        &__text {
          text-align: justify;
        }
      }
    }
  }
  .services {
    &__container {
      @include main-container();
      padding-top: size-rem(100);
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: size-rem(118);
      row-gap: size-rem(10);
      position: relative;
      &::after {
        content: url('../images/services/plus-decor.svg');
        position: absolute;
        top: size-rem(80);
        right: size-rem(-76.5);
        z-index: -10;
      }
    }

    &__subtitle {
      text-transform: uppercase;
      @extend %subtitle-text-style;
    }
    &__title {
      @extend %title-text-style;
    }
    .categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: size-rem(15);
      padding: size-rem(85) size-rem(20);
      column-gap: size-rem(118);
      row-gap: size-rem(118);
    }
    .categories__item {
    }
    .category {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
      width: size-rem(182);
      min-height: size-rem(229);
      row-gap: size-rem(15);
      position: relative;
      z-index: 100;

      &__img-block {
        width: size-rem(80);
        height: size-rem(80);
      }
      &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      &__img_bigger {
        width: 100%;
        height: 100%;
        transform: scale(1.7);
      }

      &__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        line-height: size-rem(27);
        text-align: center;
        color: $small-title-color;
      }
      &__text {
        text-align: center;
        width: size-rem(181);
        min-height: size-rem(78);
        line-height: size-rem(26);
      }
      &:hover {
        &::after {
          content: url('../images/services/rectangle-decor.svg');
          position: absolute;
          bottom: size-rem(-76);
          left: size-rem(-76);
          z-index: -3;
        }
        &::before {
          content: '';
          display: block;
          width: size-rem(267);
          min-height: size-rem(314);
          top: size-rem(-41);
          left: size-rem(-41);
          background: #ffffff;
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
            0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
            0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
            0px 20px 13px rgba(0, 0, 0, 0.01),
            0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
            0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          border-radius: size-rem(36);
          position: absolute;
          z-index: -1;
        }
      }
    }
  }
  .top-selling {
    &__container {
      @include main-container();
      min-height: size-rem(740);
      padding-top: size-rem(60);
      display: flex;
      flex-direction: column;
      row-gap: size-rem(8);
    }
    &__subtitle {
      @extend %subtitle-text-style;
      text-transform: capitalize;
    }
    &__title {
      @extend %title-text-style;
    }
    .destinations {
      padding: size-rem(52) size-rem(33);
      display: flex;
      flex-wrap: wrap;
      gap: size-rem(35);
      justify-content: space-around;

      &__item {
      }
      .destination {
        flex: 0 1 300px;
        width: size-rem(315);
        height: size-rem(457);
        border-radius: size-rem(24);
        background: transparent;
        z-index: 0;
        position: relative;
        display: flex;
        box-shadow: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
          drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
          drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
          drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
          drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
          drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
        &:hover {
          transform: scale(1.03);
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
        &:last-child:after {
          content: url('../images/top-selling/spring-decore.svg');
          position: absolute;
          right: size-rem(-62);
          top: size-rem(154);
          display: inline-block;
          width: size-rem(98);
          height: size-rem(254);
        }

        &__img {
          min-width: 150%;
          height: auto;
          position: absolute;
          object-position: -75px -1px;
          object-fit: contain;
          z-index: 1;
        }
        &__data {
          flex: 1 1 100%;
          height: size-percent(130, 457);
          padding: size-rem(27) size-rem(25) size-rem(20) size-rem(20);
          border-radius: 0px 0px size-rem(24) size-rem(24);
          align-self: flex-end;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          z-index: 10;
          background: #ffffff;
        }

        &__name,
        &__price {
          font-size: size-rem(18);
          line-height: size-rem(22);
        }

        &__link {
          display: inline-block;
          position: relative;
          margin-left: size-rem(32);
          flex: 1 1 100%;
          color: $main-text-color;
          &::before {
            content: url('../images/top-selling/navigation.svg');
            width: size-rem(20);
            height: size-rem(20);
            position: absolute;
            top: size-rem(7);
            left: size-rem(-28);
          }
        }
        @include mobile() {
          flex-shrink: 0;
        }
      }
    }
  }
  .booking-steps {
    &__container {
      @include main-container();
      min-height: size-rem(734);
      padding-top: size-rem(121);
      padding-bottom: size-rem(121);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      row-gap: size-rem(8);
    }
    &__content {
    }
    .booking {
      display: flex;
      flex-direction: column;
      padding-left: size-percent(51, $max-width-Container);
      padding-right: size-percent(23, $max-width-Container);
      flex: 1 1 50%;

      &__subtitle {
        @extend %subtitle-text-style;
        text-align: left !important;
      }
      &__title {
        @extend %title-text-style;
        text-align: left !important;
        padding: size-rem(15) 0 size-rem(34);
      }
      &__steps {
      }

      .steps {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        gap: size-rem(48);
        padding-top: size-rem(4);

        &__item {
          max-width: size-rem(395);
          min-height: size-rem(65);
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: size-rem(21);
        }
        &__img {
          width: size-rem(47);
          min-height: size-rem(48);
          margin-top: size-rem(8);
          flex-shrink: 0;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
        }
        .destination-img {
          background-image: url('../images/booking/destination-icon.svg');
        }
        .payment-img {
          background-image: url('../images/booking/payment-icon.svg');
        }
        .transfer-img {
          background-image: url('../images/booking/transfer-icon.svg');
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-width: size-percent(327, 395);
        }
        &__name {
          font-weight: 700;
        }
        &__text {
          max-width: 100%;
          word-wrap: break-word;
        }
      }
    }

    .book__view {
    }
    .view {
      flex: 1 1 50%;
      $view-width: 580;
      min-width: $view-width;

      &__wrapper {
        width: size-rem(485);
        height: size-rem(459);
        position: relative;
        top: size-rem(78);
        left: size-percent(95, $view-width);
        &::before {
          content: '';
          display: block;
          width: size-rem(354);
          height: size-rem(364);
          position: absolute;
          z-index: -7;
          top: size-rem(0);
          left: size-rem(60);
          background: #59b1e6;
          opacity: 0.4;
          filter: blur(75px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        &::after {
          content: '';
          display: block;
          width: size-rem(354);
          height: size-rem(364);
          position: absolute;
          z-index: -10;
          top: size-rem(0);
          left: size-rem(60);
          border-radius: 50%;
          background: #59b1e6;
          opacity: 0.8;
          filter: blur(75px);
        }
        @include tablet() {
          top: 0;
          left: 0;
        }
      }
      .view__card {
      }
      .trip-card {
        width: size-rem(370);
        height: size-rem(400);
        border-radius: size-rem(26);
        background-color: #ffffff;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
          0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
          0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
          0px 20px 13px rgba(0, 0, 0, 0.01),
          0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
          0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        padding: size-rem(20) size-rem(24) size-rem(36);
        position: absolute;
        left: 0;
        bottom: 0;
        @include mobile() {
        }
        &__view {
          min-height: 50%;
        }
        &__img {
          width: size-rem(321);
          height: size-rem(161);
          background: url('/images/booking/view.svg') no-repeat top/102%;
          @include mobile() {
            /* width:size-rem(311);
            height:size-rem(156);*/
          }
        }
        &__title {
          font-size: size-rem(18);
          line-height: size-rem(22);
          letter-spacing: 0.015em;
          margin-bottom: size-rem(13);
          color: #080809;
        }
        &__duration {
          padding-right: 2px;
          border-right: 1px solid $main-text-color;
        }
        &__duration,
        &__operator {
          letter-spacing: -0.005em;
          color: #84829a;
        }

        &__activity {
        }
        .activities {
          margin: size-rem(21) 0 size-rem(30);

          &__item {
            display: inline-block;
            width: size-rem(36);
            height: size-rem(36);
            border-radius: 50%;
            &:nth-child(n + 2) {
              margin-left: 16px;
            }
          }
          &__img {
            width: size-rem(36);
            height: size-rem(36);
          }
        }

        .trip-card__people-going {
          .building-img {
            width: size-rem(16);
            height: size-rem(16);
            margin-right: size-rem(15);
          }
        }
        .trip-card__likes {
          width: size-rem(20);
          height: size-rem(20);
          margin-right: size-rem(7);
          letter-spacing: -0.02em;
          float: right;

          .like-link {
          }
        }
      }
      .view__ongoing {
      }
      .ongoing {
        width: size-rem(263);
        height: size-rem(129);
        padding: size-rem(16) size-rem(22);
        background: #ffffff;
        border-radius: size-rem(18);
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
          0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
          0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
          0px 20px 13px rgba(0, 0, 0, 0.01),
          0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
          0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        display: flex;
        justify-content: space-between;
        column-gap: size-rem(11);
        font-size: size-rem(14);
        line-height: size-rem(17);
        position: absolute;
        left: size-rem(222);
        bottom: size-rem(52);
        @include tablet() {
          left: size-rem(175);
          column-gap: size-rem(5);
          width: size-rem(230);
        }

        &__img {
          width: size-rem(50);
          height: size-rem(50);
          background: url('../images/booking/trip-icon.svg') no-repeat;
        }
        &__content {
        }
        .content-ongoing {
          color: #8a79df;
          &__subtitle {
            color: #84829a;
            letter-spacing: -0.035em;
          }
          &__title {
            color: #080809;
            font-size: size-rem(18);
            line-height: size-rem(22);
            letter-spacing: -0.015em;
            margin: size-rem(6) 0 size-rem(14);
          }
          &__complited {
            letter-spacing: -0.055em;
            .black-text {
              color: #080809;
            }
          }
          &__progress {
            width: 100%;
            height: size-rem(5);
            background: #f5f5f5;
            border-radius: size-rem(30);
            margin-top: size-rem(10);
          }
          &__scale {
            width: 40%;
            height: 100%;
            background: #8a79df;
            border-radius: size-rem(30);
          }
        }
      }
    }
  }
  .testimonials {
    &__container {
      @include main-container();
      min-height: size-rem(506);
      padding-top: size-rem(79);
      padding-bottom: size-rem(150);
    }
    &__wrapper {
      flex: 1 1 size-rem(1037);
      min-height: size-rem(279);
      display: flex;
      justify-content: space-between;
      column-gap: size-rem(124);
      row-gap: size-rem(50);
      flex-wrap: wrap;
    }
    &__headings {
      flex: 1 1 size-rem(496);
    }
    &__subtitle {
      margin-top: size-rem(9);
      text-transform: uppercase;
      font-weight: 600;
      font-size: size-rem(18);
      line-height: size-rem(27);
    }
    &__title {
      @extend %title-text-style;
      text-align: left !important;
      margin-top: size-rem(8);
    }
    &__content {
      flex: 1 1 size-rem(504);
      max-width: size-rem(504);
      padding: size-rem(28) size-rem(68) size-rem(34) size-rem(34);
      position: relative;
      top: size-rem(34);
      background: #ffffff;
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
      border-radius: size-rem(10);
    }
    &__avatar {
      width: 68px;
      height: 68px;
      position: absolute;
      top: size-rem(-28);
      left: size-rem(-34);
    }

    &__text {
      line-height: size-rem(32);
    }
    &__user-name {
      margin-top: size-rem(34);
      font-size: size-rem(18);
      line-height: size-rem(27);
      display: block;
    }
    &__user-place {
      margin-top: size-rem(5);
      font-size: size-rem(14);
      line-height: size-rem(24);
    }
  }

  .parters {
    .parters__container {
      @include main-container();
      min-height: size-rem(212);
      border-top: 25px solid #d9d9d9;
    }
    .partners__wrapper {
      width: size-percent(1073, $max-width-Container);
      padding: size-rem(42) 0 size-rem(34);
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, 170px);
      grid-template-rows: auto;
      grid-auto-flow: row;
      justify-content: space-between;
      align-items: stretch;
      gap: size-rem(30);
      @include tablet() {
        width: 100%;
        column-gap: normal;
      }
    }
    .partner__item {
    }
    .parter {
      width: 170px;
      height: 86px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      filter: grayscale(100%);

      &__img {
        width: 100%;
        vertical-align: middle;
      }
      &:hover {
        background: #ffffff;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
          0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
          0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
          0px 20px 13px rgba(0, 0, 0, 0.01),
          0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
          0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 10px;
        filter: grayscale(0);
      }
    }
  }
  .subscribe {
    &__container {
      @include main-container();
      padding-top: size-rem(100);
      padding-bottom: size-rem(100);
      position: relative;
      &:after{
        content:url(/images/subscribe/plus.svg);
        width: size-rem(153);
        height: size-rem(166);
        z-index: -1;
        position: absolute;
        bottom: size-rem(30);
        right: size-rem(-93);
      }
    }
    &__wrapper {
      padding: size-rem(78) size-rem(155);
      background-color:rgba(223, 215, 249, 0.2);
      min-height: size-rem(407);
      border-radius: 129px 20px 20px 20px;
      position: relative;
      @include tablet(){
        padding-left:size-rem(75);
        padding-right:size-rem(75);
    }
    @include mobile(){
      padding-left:size-rem(30);
      padding-right:size-rem(30);
  }
          
      &:before{
        content:url(/images/subscribe/left-circle.svg);
        stroke: rgb(196, 196, 196);
        width: size-rem(390);
        height: size-rem(398);
        z-index: 1;
        position: absolute;
        bottom: size-rem(-120);
        left:size-rem(20);
        filter: grayscale(100%);
      }

      &:after{
        content:url(/images/subscribe/right-circle.svg);
        width: size-rem(385);
        height: size-rem(291);
        z-index: 1;
        position: absolute;
        top: 0;
        right: size-rem(-180);
        filter: grayscale(100%);
      }
    }


    &__send-img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: url('../images/subscribe/send.svg') no-repeat center;
      position: absolute;
      right: size-rem(-20);
      top: size-rem(-13);
      z-index: 5;
    }
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      row-gap:size-rem(74) ;
      height: 100%;
      position: relative;
      z-index: 10;;    }
    
    &__title {
      text-align: center;
      font-size: size-rem(33);
      font-weight: 600;
      line-height: size-rem(54);
      color: $main-text-color;
    }
    &__form {
    }
    .form {
      $form-width:630;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      align-self: center;
      max-width: size-rem($form-width);
      gap: size-rem(10);

      &__email {
        flex: 1 1 size-rem(421);
        min-width: size-percent(421, $form-width);
        padding: size-em(26)  size-em(26) size-em(26) size-em(66) ;
        vertical-align: middle;
        background: #FFFFFF url('../images/subscribe/email.png') no-repeat;
        background-position: size-rem(31) center;
        border-radius: size-rem(10);
        font-weight: 400;
        font-size: size-rem(14);
        line-height: size-rem(17);  
        color: #39425D;
        border: none;
      }
      &__btn {
        flex: 1 1 size-rem(180);
        min-width: size-percent(180, $form-width);
        height: size-rem(68);
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        align-items: center;
        font-size: size-rem(17);
        line-height: size-rem(23);
        font-weight: 600;

      }
    }

  }
  
  
  
  
}
