@import '_variables', '_functions';
.main {
  width: 100%;
  flex: 1 1 auto;
  line-height: size-em(30);
  font-weight: 500;
  position: relative;
  top: size-rem(-20);

  .intro {
    &__container {
      @include main-container();
      min-height: size-rem(757);
      display: flex;
      align-items: center;
      background: url('../images/intro/traveller.svg') right no-repeat;
      @media (max-width: size-rem(1200)) {
        background: transparent;
        justify-content: center;
      }
      @include laptop() {
        align-items: stretch;
        padding-top: size-rem(50);
        min-height: auto;
      }
    }
    &__content {
      max-width: size-rem(547);
    }
    .content {
      display: flex;
      flex-direction: column;
      min-height: size-em(535);
      margin-left: size-em(10);

      &__subtitle {
        color: #df6951;
        text-transform: uppercase;
        font-weight: 700;
        font-size: size-em(20);
      }
      &__title {
        @extend %title-font-style;
        font-size: size-em(84);
        line-height: size-em(89, 84);
        letter-spacing: -0.04em;
        color: $main-title-color;
        margin: size-rem(24) 0 size-rem(30) 0;
      }
      &__text {
        max-width: size-rem(477);
      }
      &__actions {
      }
      .actions {
        margin-top: size-rem(34);

        &__list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: size-em(16);
          align-items: center;
          max-width: size-rem(379);
        }
        &__item {
        }
        &__item-play {
          font-size: size-rem(17);
          line-height: size-rem(26);
          min-width: size-rem(92);
          > .item-link {
            color: #686d77;
          }
        }
        &__item-play::before {
          content: '';
          display: inline-block;
          width: size-rem(52);
          height: size-rem(52);
          border-radius: 50%;
          vertical-align: middle;
          margin-right: size-rem(21);
          background: url('../images/intro/play_button.svg') center;
          background-position-y: -15px;
        }
        &__item-orange-btn {
          font: 500 size-rem(18) 'Google Sans', sans-serif;
          line-height: size-rem(23);
          min-width: size-rem(170);
          padding: size-rem(18) size-rem(26);
          background: #f1a501;
          color: #ffffff;
          box-shadow: 0px size-rem(20) size-rem(35) rgba(241, 165, 1, 0.15);
          border-radius: size-rem(10);
          > .item-link {
            color: #ffffff;
          }
        }
        @include mobile {
          &__list {
            justify-content: center;
          }
        }
      }

      @include laptop() {
        &__subtitle {
          font-size: size-rem(16);
        }
        &__title {
          font-size: size-em(42);
          line-height: size-em(45, 42);
        }
        &__text {
          text-align: justify;
        }
      }
    }
  }
  .services {
    &__container {
      @include main-container();
      padding-top: size-rem(100);
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: size-rem(118);
      row-gap: size-rem(10);
      position: relative;
      &::after {
        content: url('../images/services/plus-decor.svg');
        position: absolute;
        top: size-rem(80);
        right: size-rem(-76.5);
        z-index: -10;
      }
    }

    &__subtitle {
      text-transform: uppercase;
      @extend %subtitle-text-style;
    }
    &__title {
      @extend %title-text-style;
    }
    .categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: size-rem(15);
      padding: size-rem(85) size-rem(20);
      column-gap: size-rem(118);
      row-gap: size-rem(118);
    }
    .categories__item {
    }
    .category {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
      width: size-rem(182);
      min-height: size-rem(229);
      row-gap: size-rem(15);
      position: relative;
      z-index: 100;

      &__img-block {
        width: size-rem(80);
        height: size-rem(80);
      }
      &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      &__img_bigger {
        width: 100%;
        height: 100%;
        transform: scale(1.7);
      }

      &__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        line-height: size-rem(27);
        text-align: center;
        color: $small-title-color;
      }
      &__text {
        text-align: center;
        width: size-rem(181);
        min-height: size-rem(78);
        line-height: size-rem(26);
      }
      &:hover {
        &::after {
          content: url('../images/services/rectangle-decor.svg');
          position: absolute;
          bottom: size-rem(-76);
          left: size-rem(-76);
          z-index: -3;
        }
        &::before {
          content: '';
          display: block;
          width: size-rem(267);
          min-height: size-rem(314);
          top: size-rem(-41);
          left: size-rem(-41);
          background: #ffffff;
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
            0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
            0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
            0px 20px 13px rgba(0, 0, 0, 0.01),
            0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
            0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          border-radius: size-rem(36);
          position: absolute;
          z-index: -1;
        }
      }
    }
  }

  .top-selling {
    &__container {
      @include main-container();
      min-height: size-rem(740);
      padding-top: size-rem(60);
      display: flex;
      flex-direction: column;
      row-gap: size-rem(8);
    }
    &__subtitle {
      @extend %subtitle-text-style;
      text-transform: capitalize;
    }
    &__title {
      @extend %title-text-style;
    }
    .destinations {
      padding: size-rem(52) size-rem(33);
      display: flex;
      flex-wrap: wrap;
      gap: size-rem(35);
      justify-content: space-around;

      &__item {
      }
      .destination {
        width: size-rem(315);
        height: size-rem(457);
        border-radius: size-rem(24);
        background: transparent;
        z-index: 0;
        position: relative;
        display: flex;
        box-shadow: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
          drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
          drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
          drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
          drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
          drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
        &:hover {
          transform: scale(1.03);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.08),
            0px 64.8148px 46.8519px rgba(0, 0, 0, 0.03),
            0px 38.5185px 25.4815px rgba(0, 0, 0, 0.02),
            0px 20px 13px rgba(0, 0, 0, 0.01),
            0px 8.14815px 6.51852px rgba(0, 0, 0, 0.1),
            0px 1.85185px 3.14815px rgba(0, 0, 0, 0.01);
        }
        &:last-child:after {
          content: url('../images/top-selling/spring-decore.svg');
          position: absolute;
          right: size-rem(-62);
          top: size-rem(154);
          display: inline-block;
          width: size-rem(98);
          height: size-rem(254);
        }

        &__img {
          min-width: 150%;
          position: absolute;
          top: -1px;
          left: size-rem(-79);
          z-index: 1;
        }
        &__data {
          flex: 1 1 100%;
          height: size-percent(130, 457);
          padding: size-rem(27) size-rem(25) size-rem(20) size-rem(20);
          border-radius: 0px 0px size-rem(24) size-rem(24);
          align-self: flex-end;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          z-index: 10;
          background: #ffffff;
        }

        &__name,
        &__price {
          font-size: size-rem(18);
          line-height: size-rem(22);
        }

        &__link {
          display: inline-block;
          position: relative;
          margin-left: size-rem(32);
          flex: 1 1 100%;
          color: $main-text-color;
          &::before {
            content: url('../images/top-selling/navigation.svg');
            width: size-rem(20);
            height: size-rem(20);
            position: absolute;
            top: size-rem(7);
            left: size-rem(-28);
          }
        }
      }
    }
  }
}
