@import '_fonts', '_variables', '_functions';
@import '_reset';

.page {
  @extend %main-text-style;
  font-weight: 500;
  font-size: 1rem;
  line-height: size-em(20);
  .btn {
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  .wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    @import 'header', 'main', 'footer';
  }
  &::before {
    content: url('../images/intro/decore.svg');
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 0;
  }
}
