@import '_fonts', '_variables', '_functions';
@import '_reset';

.page {
  font: 500 1rem 'Poppins', sans-serif;
  line-height: size-em(20);
  .wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @import 'header', 'main', 'footer';
  }
}
