/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.header {
  font: 500 1.0625rem/1.375em "Google Sans", sans-serif;
  color: #212832;
  width: 100%;
  min-height: 8.375rem;
  padding: 2.9375rem 0;
}
@media (max-width: size-rem(479.98)) {
  .header {
    padding: 1.5625rem 0;
  }
}
.header__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.4273504274%;
     -moz-column-gap: 0.4273504274%;
          column-gap: 0.4273504274%;
}
@media (max-width: size-rem(991.98)) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.5625rem;
  }
}
@media (max-width: size-rem(479.98)) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__logo {
  width: 7.1875rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.header .logo__img {
  min-width: 100%;
}
.header .menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.2991452991%;
}
@media (max-width: size-rem(991.98)) {
  .header .menu__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: size-rem(479.98)) {
  .header .menu__list {
    /* top: size-rem(185);*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0.625rem;
  }
}
.header .menu__link {
  color: #212832;
}
.header .menu__link:hover {
  font-weight: 500;
  text-decoration: underline;
}
@media (max-width: size-rem(991.98)) {
  .header .menu {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.header__auth {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.header .auth {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.7606837607%;
          flex: 0 1 23.7606837607%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.6111111111vw;
     -moz-column-gap: 3.6111111111vw;
          column-gap: 3.6111111111vw;
}
.header .auth__item-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6em;
          flex: 0 0 6em;
  height: 2.3529411765em;
  border-radius: 5px;
  border: 1px solid #212832;
  text-align: center;
  line-height: 2.3529411765em;
}
.header .auth__item-btn:hover {
  border: 3px solid #212832;
}
.header .auth__link {
  color: #212832;
}
.header .auth__link:hover {
  font-weight: 600;
}
@media (max-width: size-rem(991.98)) {
  .header .auth {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media (max-width: size-rem(479.98)) {
  .header .auth {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__language-selection {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 6.4102564103%;
          flex: 0 1 6.4102564103%;
  border: none;
  text-align: right;
  text-transform: uppercase;
}
.header__language-selection:hover {
  font-weight: 600;
}/*# sourceMappingURL=header.css.map */