.main .intro .content__title, .main .top-selling__title, .main .services__title {
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.main .top-selling__title, .main .services__title {
  font-size: size-rem(50);
  line-height: size-rem(64);
  color: #14183E;
  text-transform: capitalize;
  text-align: center;
}

.main .top-selling__subtitle, .main .services__subtitle {
  text-align: center;
  font-size: size-rem(18);
  font-weight: 600;
  line-height: size-rem(27);
  color: #5E6282;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.main .intro .content__title, .main .top-selling__title, .main .services__title {
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.main .top-selling__title, .main .services__title {
  font-size: size-rem(50);
  line-height: size-rem(64);
  color: #14183E;
  text-transform: capitalize;
  text-align: center;
}

.main .top-selling__subtitle, .main .services__subtitle {
  text-align: center;
  font-size: size-rem(18);
  font-weight: 600;
  line-height: size-rem(27);
  color: #5E6282;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.875em;
  font-weight: 500;
  position: relative;
  top: -1.25rem;
}
.main .intro__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 47.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/intro/traveller.svg") right no-repeat;
}
@media (max-width: 75rem) {
  .main .intro__container {
    background: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: size-rem(991.98)) {
  .main .intro__container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 3.125rem;
    min-height: auto;
  }
}
.main .intro__content {
  max-width: 34.1875rem;
}
.main .intro .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 33.4375em;
  margin-left: 0.625em;
}
.main .intro .content__subtitle {
  color: #df6951;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
}
.main .intro .content__title {
  font-size: 5.25em;
  line-height: 1.0595238095em;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin: 1.5rem 0 1.875rem 0;
}
.main .intro .content__text {
  max-width: 29.8125rem;
}
.main .intro .content .actions {
  margin-top: 2.125rem;
}
.main .intro .content .actions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 23.6875rem;
}
.main .intro .content .actions__item-play {
  font-size: 1.0625rem;
  line-height: 1.625rem;
  min-width: 5.75rem;
}
.main .intro .content .actions__item-play > .item-link {
  color: #686d77;
}
.main .intro .content .actions__item-play::before {
  content: "";
  display: inline-block;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1.3125rem;
  background: url("../images/intro/play_button.svg") center;
  background-position-y: -15px;
}
.main .intro .content .actions__item-orange-btn {
  font: 500 1.125rem "Google Sans", sans-serif;
  line-height: 1.4375rem;
  min-width: 10.625rem;
  padding: 1.125rem 1.625rem;
  background: #f1a501;
  color: #ffffff;
  -webkit-box-shadow: 0px 1.25rem 2.1875rem rgba(241, 165, 1, 0.15);
          box-shadow: 0px 1.25rem 2.1875rem rgba(241, 165, 1, 0.15);
  border-radius: 0.625rem;
}
.main .intro .content .actions__item-orange-btn > .item-link {
  color: #ffffff;
}
@media (max-width: size-rem(479.98)) {
  .main .intro .content .actions__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: size-rem(991.98)) {
  .main .intro .content__subtitle {
    font-size: 1rem;
  }
  .main .intro .content__title {
    font-size: 2.625em;
    line-height: 1.0714285714em;
  }
  .main .intro .content__text {
    text-align: justify;
  }
}
.main .services__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding-top: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7.375rem;
     -moz-column-gap: 7.375rem;
          column-gap: 7.375rem;
  row-gap: 0.625rem;
  position: relative;
}
.main .services__container::after {
  content: url("../images/services/plus-decor.svg");
  position: absolute;
  top: 5rem;
  right: -4.78125rem;
  z-index: -10;
}
.main .services__subtitle {
  text-transform: uppercase;
}
.main .services .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.9375rem;
  padding: 5.3125rem 1.25rem;
  -webkit-column-gap: 7.375rem;
     -moz-column-gap: 7.375rem;
          column-gap: 7.375rem;
  row-gap: 7.375rem;
}
.main .services .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.375rem;
  min-height: 14.3125rem;
  row-gap: 0.9375rem;
  position: relative;
  z-index: 100;
}
.main .services .category__img-block {
  width: 5rem;
  height: 5rem;
}
.main .services .category__img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .services .category__img_bigger {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}
.main .services .category__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.6875rem;
  text-align: center;
  color: #1E1D4C;
}
.main .services .category__text {
  text-align: center;
  width: 11.3125rem;
  min-height: 4.875rem;
  line-height: 1.625rem;
}
.main .services .category:hover::after {
  content: url("../images/services/rectangle-decor.svg");
  position: absolute;
  bottom: -4.75rem;
  left: -4.75rem;
  z-index: -3;
}
.main .services .category:hover::before {
  content: "";
  display: block;
  width: 16.6875rem;
  min-height: 19.625rem;
  top: -2.5625rem;
  left: -2.5625rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 2.25rem;
  position: absolute;
  z-index: -1;
}
.main .top-selling__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 46.25rem;
  padding-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}
.main .top-selling__subtitle {
  text-transform: capitalize;
}
.main .top-selling .destinations {
  padding: 3.25rem 2.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.1875rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .top-selling .destinations .destination {
  width: 19.6875rem;
  height: 28.5625rem;
  border-radius: 1.5rem;
  background: transparent;
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          box-shadow: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}
.main .top-selling .destinations .destination:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.08), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.03), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.02), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.1), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.08), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.03), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.02), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.1), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.01);
}
.main .top-selling .destinations .destination:last-child:after {
  content: url("../images/top-selling/spring-decore.svg");
  position: absolute;
  right: -3.875rem;
  top: 9.625rem;
  display: inline-block;
  width: 6.125rem;
  height: 15.875rem;
}
.main .top-selling .destinations .destination__img {
  min-width: 150%;
  position: absolute;
  top: -1px;
  left: -4.9375rem;
  z-index: 1;
}
.main .top-selling .destinations .destination__data {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 28.4463894967%;
  padding: 1.6875rem 1.5625rem 1.25rem 1.25rem;
  border-radius: 0px 0px 1.5rem 1.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  background: #ffffff;
}
.main .top-selling .destinations .destination__name, .main .top-selling .destinations .destination__price {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.main .top-selling .destinations .destination__link {
  display: inline-block;
  position: relative;
  margin-left: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  color: #5E6282;
}
.main .top-selling .destinations .destination__link::before {
  content: url("../images/top-selling/navigation.svg");
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0.4375rem;
  left: -1.75rem;
}/*# sourceMappingURL=main.css.map */