.main .intro .content__title, .main .testimonials__title, .main .booking-steps .booking__title, .main .top-selling__title, .main .services__title {
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.main .testimonials__title, .main .booking-steps .booking__title, .main .top-selling__title, .main .services__title {
  font-size: size-rem(50);
  line-height: size-rem(64);
  color: #14183E;
  text-transform: capitalize;
  text-align: center;
}

.main .booking-steps .booking__subtitle, .main .top-selling__subtitle, .main .services__subtitle {
  text-align: center;
  font-size: size-rem(18);
  font-weight: 600;
  line-height: size-rem(27);
  color: #5E6282;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.main .intro .content__title, .main .testimonials__title, .main .booking-steps .booking__title, .main .top-selling__title, .main .services__title {
  font-weight: 700;
  font-family: "Volkhov", serif;
}

.main .testimonials__title, .main .booking-steps .booking__title, .main .top-selling__title, .main .services__title {
  font-size: size-rem(50);
  line-height: size-rem(64);
  color: #14183E;
  text-transform: capitalize;
  text-align: center;
}

.main .booking-steps .booking__subtitle, .main .top-selling__subtitle, .main .services__subtitle {
  text-align: center;
  font-size: size-rem(18);
  font-weight: 600;
  line-height: size-rem(27);
  color: #5E6282;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.875em;
  font-weight: 500;
  position: relative;
  top: -1.25rem;
}
.main .intro__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 47.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/intro/traveller.svg") right no-repeat;
  position: relative;
  z-index: 2;
}
@media (max-width: 75rem) {
  .main .intro__container {
    background: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: size-rem(991.98)) {
  .main .intro__container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 3.125rem;
    min-height: auto;
  }
}
.main .intro .plane {
  width: 167px;
  height: 154px;
  position: absolute;
  z-index: 100;
}
.main .intro .plane_fixed {
  top: 103px;
  right: -20px;
  z-index: -2;
}
@-webkit-keyframes fly {
  from {
    top: 50px;
    right: 600px;
  }
  to {
    top: -200px;
    left: 2000px;
  }
}
@keyframes fly {
  from {
    top: 50px;
    right: 600px;
  }
  to {
    top: -200px;
    left: 2000px;
  }
}
@-webkit-keyframes fly-back {
  from {
    top: 800px;
    left: -500px;
  }
  to {
    top: 50px;
    right: 600px;
  }
}
@keyframes fly-back {
  from {
    top: 800px;
    left: -500px;
  }
  to {
    top: 50px;
    right: 600px;
  }
}
.main .intro .plane.plane_animated {
  top: 50px;
  left: 600px;
  z-index: 10;
}
.main .intro .plane.plane_animated:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation: fly 3s ease-in, fly-back 1.5s 3s 1 ease-in;
          animation: fly 3s ease-in, fly-back 1.5s 3s 1 ease-in;
}
.main .intro__content {
  max-width: 34.1875rem;
}
.main .intro .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 33.4375em;
  margin-left: 0.625em;
}
.main .intro .content__subtitle {
  color: #df6951;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
}
.main .intro .content__title {
  font-size: 5.25em;
  line-height: 1.0595238095em;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin: 1.5rem 0 1.875rem 0;
}
.main .intro .content__text {
  max-width: 29.8125rem;
}
.main .intro .content .actions {
  margin-top: 2.125rem;
}
.main .intro .content .actions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 23.6875rem;
}
.main .intro .content .actions__item-play {
  font-size: 1.0625rem;
  line-height: 1.625rem;
  min-width: 5.75rem;
}
.main .intro .content .actions__item-play > .item-link {
  color: #686d77;
}
.main .intro .content .actions__item-play::before {
  content: "";
  display: inline-block;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1.3125rem;
  background: url("../images/intro/play_button.svg") center;
  background-position-y: -15px;
}
.main .intro .content .actions__item-orange-btn {
  font: 500 1.125rem "Google Sans", sans-serif;
  line-height: 1.4375rem;
  min-width: 10.625rem;
  padding: 1.125rem 1.625rem;
  background: #f1a501;
  color: #ffffff;
  -webkit-box-shadow: 0px 1.25rem 2.1875rem rgba(241, 165, 1, 0.15);
          box-shadow: 0px 1.25rem 2.1875rem rgba(241, 165, 1, 0.15);
  border-radius: 0.625rem;
}
.main .intro .content .actions__item-orange-btn > .item-link {
  color: #ffffff;
}
@media (max-width: size-rem(479.98)) {
  .main .intro .content .actions__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: size-rem(991.98)) {
  .main .intro .content__subtitle {
    font-size: 1rem;
  }
  .main .intro .content__title {
    font-size: 2.625em;
    line-height: 1.0714285714em;
  }
  .main .intro .content__text {
    text-align: justify;
  }
}
.main .services__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding-top: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7.375rem;
     -moz-column-gap: 7.375rem;
          column-gap: 7.375rem;
  row-gap: 0.625rem;
  position: relative;
}
.main .services__container::after {
  content: url("../images/services/plus-decor.svg");
  position: absolute;
  top: 5rem;
  right: -4.78125rem;
  z-index: -10;
}
.main .services__subtitle {
  text-transform: uppercase;
}
.main .services .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.9375rem;
  padding: 5.3125rem 1.25rem;
  -webkit-column-gap: 7.375rem;
     -moz-column-gap: 7.375rem;
          column-gap: 7.375rem;
  row-gap: 7.375rem;
}
.main .services .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.375rem;
  min-height: 14.3125rem;
  row-gap: 0.9375rem;
  position: relative;
  z-index: 100;
}
.main .services .category__img-block {
  width: 5rem;
  height: 5rem;
}
.main .services .category__img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .services .category__img_bigger {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}
.main .services .category__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.6875rem;
  text-align: center;
  color: #1E1D4C;
}
.main .services .category__text {
  text-align: center;
  width: 11.3125rem;
  min-height: 4.875rem;
  line-height: 1.625rem;
}
.main .services .category:hover::after {
  content: url("../images/services/rectangle-decor.svg");
  position: absolute;
  bottom: -4.75rem;
  left: -4.75rem;
  z-index: -3;
}
.main .services .category:hover::before {
  content: "";
  display: block;
  width: 16.6875rem;
  min-height: 19.625rem;
  top: -2.5625rem;
  left: -2.5625rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 2.25rem;
  position: absolute;
  z-index: -1;
}
.main .top-selling__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 46.25rem;
  padding-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}
.main .top-selling__subtitle {
  text-transform: capitalize;
}
.main .top-selling .destinations {
  padding: 3.25rem 2.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.1875rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 1.5rem;
}
.main .top-selling .destinations .destination {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  width: 19.6875rem;
  height: 28.5625rem;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}
.main .top-selling .destinations .destination:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.main .top-selling .destinations .destination:last-child:after {
  content: url("../images/top-selling/spring-decore.svg");
  position: absolute;
  right: -3.875rem;
  top: 9.625rem;
  display: inline-block;
  width: 6.125rem;
  height: 15.875rem;
}
.main .top-selling .destinations .destination__img {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .top-selling .destinations .destination__data {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 28.4463894967%;
  padding: 1.6875rem 1.5625rem 1.25rem 1.25rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.main .top-selling .destinations .destination__name, .main .top-selling .destinations .destination__price {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.main .top-selling .destinations .destination__link {
  display: inline-block;
  position: relative;
  margin-left: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  color: #5E6282;
}
.main .top-selling .destinations .destination__link::before {
  content: url("../images/top-selling/navigation.svg");
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0.4375rem;
  left: -1.75rem;
}
@media (max-width: size-rem(479.98)) {
  .main .top-selling .destinations .destination {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.main .booking-steps__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 45.875rem;
  padding-top: 7.5625rem;
  padding-bottom: 7.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.5rem;
}
.main .booking-steps .booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 4.358974359%;
  padding-right: 1.9658119658%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.main .booking-steps .booking__subtitle {
  text-align: left !important;
}
.main .booking-steps .booking__title {
  text-align: left !important;
  padding: 0.9375rem 0 2.125rem;
}
.main .booking-steps .booking .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  gap: 3rem;
  padding-top: 0.25rem;
}
.main .booking-steps .booking .steps__item {
  max-width: 24.6875rem;
  min-height: 4.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.3125rem;
}
.main .booking-steps .booking .steps__img {
  width: 2.9375rem;
  min-height: 3rem;
  margin-top: 0.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.main .booking-steps .booking .steps .destination-img {
  background-image: url("../images/booking/destination-icon.svg");
}
.main .booking-steps .booking .steps .payment-img {
  background-image: url("../images/booking/payment-icon.svg");
}
.main .booking-steps .booking .steps .transfer-img {
  background-image: url("../images/booking/transfer-icon.svg");
}
.main .booking-steps .booking .steps__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 82.7848101266%;
}
.main .booking-steps .booking .steps__name {
  font-weight: 700;
}
.main .booking-steps .booking .steps__text {
  max-width: 100%;
  word-wrap: break-word;
}
.main .booking-steps .view {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-width: 580;
}
.main .booking-steps .view__wrapper {
  width: 30.3125rem;
  height: 28.6875rem;
  position: relative;
  top: 4.875rem;
  left: 16.3793103448%;
}
.main .booking-steps .view__wrapper::before {
  content: "";
  display: block;
  width: 22.125rem;
  height: 22.75rem;
  position: absolute;
  z-index: -7;
  top: 0rem;
  left: 3.75rem;
  background: #59b1e6;
  opacity: 0.4;
  -webkit-filter: blur(75px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: blur(75px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main .booking-steps .view__wrapper::after {
  content: "";
  display: block;
  width: 22.125rem;
  height: 22.75rem;
  position: absolute;
  z-index: -10;
  top: 0rem;
  left: 3.75rem;
  border-radius: 50%;
  background: #59b1e6;
  opacity: 0.8;
  -webkit-filter: blur(75px);
          filter: blur(75px);
}
@media (max-width: size-rem(767.98)) {
  .main .booking-steps .view__wrapper {
    top: 0;
    left: 0;
  }
}
.main .booking-steps .view .trip-card {
  width: 23.125rem;
  height: 25rem;
  border-radius: 1.625rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  padding: 1.25rem 1.5rem 2.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.main .booking-steps .view .trip-card__view {
  min-height: 50%;
  padding-bottom: 1.25rem;
}
.main .booking-steps .view .trip-card__img {
  width: 20.0625rem;
  height: 10.0625rem;
  border-radius: 1.5rem;
  border: 1px solid #000000;
  background: url("/images/booking/view.png") no-repeat center/100%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main .booking-steps .view .trip-card__title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.015em;
  color: #080809;
}
.main .booking-steps .view .trip-card__duration {
  margin-top: 0.8125rem;
  padding-right: 2px;
  border-right: 1px solid #5E6282;
}
.main .booking-steps .view .trip-card__duration, .main .booking-steps .view .trip-card__operator {
  letter-spacing: -0.005em;
  color: #84829a;
}
.main .booking-steps .view .trip-card .activities {
  margin: 1.3125rem 0 1.875rem;
}
.main .booking-steps .view .trip-card .activities__item {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}
.main .booking-steps .view .trip-card .activities__item:nth-child(n+2) {
  margin-left: 16px;
}
.main .booking-steps .view .trip-card .activities__img {
  width: 2.25rem;
  height: 2.25rem;
}
.main .booking-steps .view .trip-card .trip-card__people-going .building-img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.9375rem;
}
.main .booking-steps .view .trip-card .trip-card__likes {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.4375rem;
  letter-spacing: -0.02em;
  float: right;
}
.main .booking-steps .view .ongoing {
  width: 16.4375rem;
  height: 8.0625rem;
  padding: 1rem 1.375rem;
  background: #ffffff;
  border-radius: 1.125rem;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  position: absolute;
  left: 13.875rem;
  bottom: 3.625rem;
}
@media (max-width: size-rem(767.98)) {
  .main .booking-steps .view .ongoing {
    left: 10.9375rem;
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
    width: 14.375rem;
  }
}
.main .booking-steps .view .ongoing__img {
  width: 4.625rem;
  height: 4.125rem;
  background: url("../images/booking/trip-icon.svg") 50% 0px no-repeat;
}
.main .booking-steps .view .ongoing .content-ongoing {
  color: #8a79df;
}
.main .booking-steps .view .ongoing .content-ongoing__subtitle {
  color: #84829a;
  letter-spacing: -0.035em;
}
.main .booking-steps .view .ongoing .content-ongoing__title {
  color: #080809;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: -0.015em;
  margin: 0.375rem 0 0.875rem;
}
.main .booking-steps .view .ongoing .content-ongoing__complited {
  letter-spacing: -0.055em;
}
.main .booking-steps .view .ongoing .content-ongoing__complited .black-text {
  color: #080809;
}
.main .booking-steps .view .ongoing .content-ongoing__progress {
  width: 100%;
  height: 0.3125rem;
  background: #f5f5f5;
  border-radius: 1.875rem;
  margin-top: 0.625rem;
}
.main .booking-steps .view .ongoing .content-ongoing__scale {
  width: 40%;
  height: 100%;
  background: #8a79df;
  border-radius: 1.875rem;
}
.main .testimonials__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 31.625rem;
  padding-top: 4.9375rem;
  padding-bottom: 9.375rem;
}
.main .testimonials__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 64.8125rem;
          flex: 1 1 64.8125rem;
  min-height: 17.4375rem;
  padding: 0 5rem 0 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .testimonials__headings {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.main .testimonials__subtitle {
  margin-top: 0.5625rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.main .testimonials__title {
  text-align: left !important;
  max-width: 25.5625rem;
  margin-top: 0.5rem;
}
.main .testimonials__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 31.5rem;
  padding: 1.75rem 4.25rem 2.125rem 2.125rem;
  position: relative;
  top: 2.125rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 0.625rem;
}
.main .testimonials__avatar {
  width: 68px;
  height: 68px;
  position: absolute;
  border-radius: 50%;
  top: -1.75rem;
  left: -2.125rem;
}
.main .testimonials__text {
  line-height: 2rem;
}
.main .testimonials__user-name {
  margin-top: 2.125rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  display: block;
}
.main .testimonials__user-place {
  margin-top: 0.3125rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.main .parters .parters__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 13.25rem;
  border-top: 25px solid #d9d9d9;
}
.main .parters .partners__wrapper {
  width: 91.7094017094%;
  padding: 2.625rem 0 2.125rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  grid-template-rows: auto;
  grid-auto-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1.875rem;
}
@media (max-width: size-rem(767.98)) {
  .main .parters .partners__wrapper {
    width: 100%;
    -webkit-column-gap: normal;
       -moz-column-gap: normal;
            column-gap: normal;
  }
}
.main .parters .parter {
  width: 170px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main .parters .parter__img {
  width: 100%;
  vertical-align: middle;
}
.main .parters .parter:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.main .subscribe__container {
  width: 82.6388888889vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  position: relative;
}
.main .subscribe__container:after {
  content: url(/images/subscribe/plus.svg);
  width: 9.5625rem;
  height: 10.375rem;
  z-index: -1;
  position: absolute;
  bottom: 1.875rem;
  right: -5.8125rem;
}
.main .subscribe__wrapper {
  padding: 4.875rem 9.6875rem;
  background-color: rgba(223, 215, 249, 0.2);
  min-height: 25.4375rem;
  border-radius: 129px 20px 20px 20px;
  position: relative;
  z-index: 10;
}
@media (max-width: size-rem(767.98)) {
  .main .subscribe__wrapper {
    padding-left: 4.6875rem;
    padding-right: 4.6875rem;
  }
}
@media (max-width: size-rem(479.98)) {
  .main .subscribe__wrapper {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
.main .subscribe__wrapper:before {
  content: url(/images/subscribe/left-circle.svg);
  stroke: rgb(196, 196, 196);
  width: 24.375rem;
  height: 24.875rem;
  z-index: -10;
  position: absolute;
  bottom: -7.5rem;
  left: 1.25rem;
  -webkit-filter: grayscale(100%) opacity(0.2);
          filter: grayscale(100%) opacity(0.2);
}
.main .subscribe__wrapper:after {
  content: url(/images/subscribe/right-circle.svg);
  width: 24.0625rem;
  height: 18.1875rem;
  z-index: 1;
  position: absolute;
  top: 0;
  right: -11.25rem;
  -webkit-filter: grayscale(100%) opacity(0.2);
          filter: grayscale(100%) opacity(0.2);
}
.main .subscribe__send-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url("../images/subscribe/send.svg") no-repeat center;
  position: absolute;
  right: -1.25rem;
  top: -0.8125rem;
  z-index: 5;
}
.main .subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 4.625rem;
  height: 100%;
  position: relative;
  z-index: 10;
}
.main .subscribe__title {
  text-align: center;
  font-size: 2.0625rem;
  font-weight: 600;
  line-height: 3.375rem;
  color: #5E6282;
}
@media (max-width: size-rem(767.98)) {
  .main .subscribe__title {
    font-size: 1.5rem;
    llh: 1.63;
  }
}
.main .subscribe .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 39.375rem;
  gap: 0.625rem;
}
.main .subscribe .form__email-block {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 26.3125rem;
          flex: 1 1 26.3125rem;
  min-width: 66.8253968254%;
}
.main .subscribe .form .email-icon {
  width: 21px;
  height: 18px;
  position: absolute;
  top: 1.125em;
  left: 1.9375em;
  z-index: 10;
}
.main .subscribe .form__email {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  min-width: 100%;
  padding: 1.8125em 1.625em 1.8125em 4.125em;
  background-clip: border-box;
  vertical-align: middle;
  border-radius: 0.625rem;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #39425d;
  border: none;
  position: relative;
}
.main .subscribe .form__email:required:hover {
  -webkit-box-shadow: rgb(255, 125, 104) 0px 1px 4px;
          box-shadow: rgb(255, 125, 104) 0px 1px 4px;
}
.main .subscribe .form__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 11.25rem;
          flex: 1 1 11.25rem;
  min-width: 28.5714285714%;
  height: 4.25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */